.table {
    display:inline-block;
    border:0x solid #000;
}
.cellll {
    display:table-cell;
    width:50px;
    height:50px;
    margin: 1px;
}
.big-center {
  width: 100%;
  text-align: center;
}
.game {
  margin-top: 10%;
}
.bottom {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 60px;
  text-align: center;
  border-top: 2px grey;
  justify-content:center;
  display: flex;
}
.circle {
  width:40px;
  height:40px;
  border-radius:250px;
  font-size:50px;
  line-height:500px;
  text-align:center;
  float:left;
  color: white;
  font-size: 25px;
}
.spacer {
  width:15px;
  float: left;
}
.boxie {
  margin: 6px;
  margin-top: 15px;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 6px;
}
.boxie_large {
  margin: 1px;
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 6px;
}
.hex {
width: 28px;
height: 50px;
background-color: red;
background-repeat: no-repeat;
background-position: 50% 50%;
/*-webkit-background-size: auto 126.0px;
-moz-background-size: auto 126.0px;
-o-background-size: auto 126.0px;
background-size: auto 126.0px;*/
position: relative;
float: left;
/*margin-top: 36.24px;
margin-right: 6px;
margin-bottom: 36.24px;
margin-left: 6px;*/
text-align: center;
zoom: 1;
}

.hex .corner-1 {
z-index: -1;
-webkit-transform: rotate(60deg);
-moz-transform: rotate(60deg);
-ms-transform: rotate(60deg);
-o-transform: rotate(60deg);
transform: rotate(60deg);
}

.hex .corner-1, .hex .corner-2 {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: inherit;
z-index: -2;
overflow: hidden;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
-o-backface-visibility: hidden;
backface-visibility: hidden;
}

.hex .corner-2 {
-webkit-transform: rotate(-60deg);
-moz-transform: rotate(-60deg);
-ms-transform: rotate(-60deg);
-o-transform: rotate(-60deg);
transform: rotate(-60deg);
}

.rowww2 {
  margin-left: 45px;
  margin-top: -10px;
  z-index: 100;
  border: 1px black;
}
