.table {
    display:inline-block;
    border:0x solid #000;
}
.cellll {
    display:table-cell;
    width:50px;
    height:50px;
    margin: 1px;
}
.big-center {
  width: 100%;
  text-align: center;
}
.game {
  margin-top: 10%;
}
.bottom {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 60px;
  text-align: center;
  border-top: 2px grey;
  justify-content:center;
  display: flex;
}
.circle {
  width:20px;
  height:20px;
  border-radius:250px;
  font-size:50px;
  line-height:500px;
  text-align:center;
  float:left;
}
.spacer {
  width:15px;
  float: left;
}
.boxie {
  margin: 6px;
  margin-top: 15px;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 6px;
}
